.container-4 {
    max-width: 550px;
    margin: 0 auto;
}
.profile_pic-4 {
    object-fit: cover;
    width: 160px;
    height: 160px;
    border-radius: 80px;
}
.info_container-4{
    display: flex;
    justify-content: space-between;
    width: 108%;
}
.profile_container-4 {
    display: flex;
    justify-content: space-around;
    margin: 18px, 0px;
    border-bottom: 1px solid black; 
}

.gallery-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item-4 {
    width: 30%;
}